.competition-table {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  font-size: 150%;
  padding-bottom: 15%;
}

.profile-page {
  background-image: url("https://static01.nyt.com/images/2020/02/12/opinion/12Ellis/12Ellis-superJumbo.jpg");
  background-size: cover;
  background-position: center fixed;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: bisque;
  text-align: center;
  height: 100vh;
  width: 100%;
}

#nameTitle {
  margin-left: 30%;
  display: inline-block;
  margin-right: 25%;
  padding-bottom: 2%;
}

#currentCompsTag {
  font-size: 150%;
  text-decoration: underline;
}

#editProfileButton {
  display: inline-block;
}

#create {
  width: 80%;
  border-radius: 10px;
  height: 10%;
  background-color: #737c47;
  border-color: #171e14;
  cursor: pointer;
  text-align: center;
}

#create:hover {
  opacity: 0.9;
}

#create span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#create span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#create:hover span {
  padding-right: 15px;
}

#create:hover span:after {
  opacity: 1;
  right: 0;
}
