
#competitionDate {
  font-style: italic;
  font-size: 75%;
  padding-left: 5%;
  padding-right: 5%;
}

#competitionName:hover {
  text-decoration: underline;
  cursor: pointer;
}
#h3item{
  
  color:white;
  text-align: center;
}

#listbutton{
  margin-top: 2%;
}