#competitionDiv {
  
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: bisque;
  text-align: center;
  height: 100vh;
  width: 100%; */
}

#competitionListTitle {
  margin-bottom: -1%;
  color:white;
  font-size: 40px;
}
#createCompButton {
  width: 75%;
  border-radius: 10px;

  padding-bottom:10%;
  border-color: #171e14;
  cursor: pointer;
  text-align: center;
}

#createCompButton:hover {
  opacity: 0.9;
}

#createCompButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#createCompButton span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#createCompButton:hover span {
  padding-right: 15px;
}

#createCompButton:hover span:after {
  opacity: 1;
  right: 0;
}
#publicComps {
  padding-top: 3%;
  text-decoration: underline;
}
