@media only screen and (max-width: 425px) and (min-width:0px) {
}

@media only screen and (min-width: 426px) {}


.loginmain {
  height: 100vh;
  width: 100%;
}

#slogan {
  font-size: 1.25rem;
  text-shadow: 1px 1px 1px black;
  color: white;
}
#username{
  margin-top: 10%;
}
.loginbody {
  
  background-position: right;
  display: block;
  flex-direction: column;
  align-items: center;
  
  margin: 10px;
  border-radius: 10px;

  color: white;
  /* padding: 50px; */
}

.loginbody input {
  margin-bottom:2rem;
}
#dontP{
  padding-top: 5%;
}



.loginForm {

  width: 80%;
  margin-left: 11%;
  padding:5px; 
  margin-bottom: 7%;
  
  box-shadow: 3px 3px 3px black;
  border-radius: 3rem;
  display: flex;
  
}


/* .loginbody input {
    width: 160%;
    padding:5px; 
    margin-bottom: 7%;
    box-shadow: 3px 3px 3px black;
    border-radius: 3rem;
} */

#submit-btn {
  font-size:25px;
  text-shadow: 2px 2px 2px black;
  width: 80%;
  margin-bottom:2%;
  border-radius: 3rem;
  height:50px ;
}
#loginTitle {
  font-family: "Poppins", sans-serif;
  font-size: 90px;
  font-display: center;
  margin-top: 25px;
  margin-left: 15%;
  margin-right: 15%;
  text-shadow: 2px 2px 2px black;
}

#registerButton {
  width: 80%;

  margin-bottom: 5%;
  text-shadow: 2px 2px 2px black;
  box-shadow: 3px 3px 3px black;
  border-radius: 3rem;
}