#competitionLeaderboardDiv{
  color: white;
  background: rgba(17, 124, 58, 0.1);

}
#leaderboardnameh2{
  margin-top: 5%;
  font-size:35px;
}
#leaderboarddescriptionp{
  font-size:30px;
}

#updateScoreCompetition{
  width:50%;
  border-radius: 1rem;
  text-shadow: 2px 2px 2px black;

}

#score-update{
  width:80px;
  height:80px;
  display: block;
  margin-left: 40%;
  margin-top:1rem;
  border-radius:3rem;
}
#score-update-box{
  width:200px;
  height:40px;
  display: block;
  margin-left: 26%;
  margin-top:1rem;
 
}


.leaderboardItemTable{
    border:2px solid black;
    width:80%;
    height: 20vh;
    margin-left:10%;
    border-radius: 2rem;
    box-shadow: 3px 3px 3px black;
    background:rgba(33, 236, 111, 0.6);
    overflow:auto;
}

.hostButtons{
  display: flex;
  margin-left:3rem;
}

.manageCompButton{
  width: 40%;
  height:20%;
  display: inline-block;
  margin-right: 2rem;
}

.deleteCompButton{
  width: 40%;
  height: 20%;
  display: inline-block;
  background-color: rgb(233, 87, 111);
}

.leaveCompButton{
  background-color: rgb(233, 87, 111);
}

.linkText{
  text-align: center;
  font-size:25px;
  font-weight:bold;
  text-shadow: 2px 2px 2px black;
  margin-top: 2rem;
  margin-bottom:-20px;
}

#leaderboardTitleText{
  font-size:2rem;
  text-shadow: 2px 2px 2px black;
}

