@import url("https://fonts.googleapis.com/css2?family=Antic&family=Balsamiq+Sans:wght@700&family=Cabin&family=Dancing+Script:wght@400;500;700&family=Dongle&family=Lato:wght@300;400&family=Montserrat:wght@300;400&family=Poppins&family=Ubuntu&family=Varela+Round&display=swap");

@media only screen and (max-width: 425px) and (min-width: 0px) {
  #registerTitle {
    font-family: "Poppins", sans-serif;
    font-size: 4rem;
    font-display: center;
    margin-top: 25px;
    margin-left: 15%;
    margin-right: 15%;
    text-shadow: 2px 2px 2px black;
  }
  #registerDiv input.placeholder {
    text-align: center;
  }
  #slogan {
    font-size: 1.25rem;
    margin-bottom: 50px;
  }
  #regbutton {
    font-size: 25px;
    text-shadow: 2px 2px 2px black;
    width: 50%;
    margin-left: 13%;
    margin-bottom: 1%;
  }
  .registerDiv {
    background-position: right;
    text-shadow: 2px 2px 2px black;
  }
  .registerDiv form {
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
  }
  .registerDiv input {
    width: 100%;
    padding: 5px;
    margin-bottom: 4%;
    margin-right: 10%;
    box-shadow: 3px 3px 3px black;
    border-radius: 3rem;
  }

  #confirmPasswordLabel {
    width: 120%;
    padding-right: 40%;
  }
  .registerDiv label {
    font-size: 20px;
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .registerDiv p {
    margin-top: 2%;
    font-size: 1.5rem;
    text-shadow: 2px 2px 2px black;
  }
  #slogan {
    font-style: italic;
    margin-bottom: 1rem;
  }
  #loginButton {
    width: 40%;
    margin-left: 3%;
    margin-bottom: 5%;
    font-size: 25px;
    box-shadow: 3px 3px 3px black;
    border-radius: 3rem;

    text-shadow: 2px 2px 2px black;
  }
}

.registerDiv {
  font-family: "Noto Sans", sans-serif;
  -webkit-box-align: center;
  -ms-flex-align: center;
  color: white;
  text-align: center;
  height: 100%;
  width: 100%;
}

.registerDiv label {
  width: 26%;
  margin-bottom: 2%;
  margin-left: 10%;
}
.registerDiv input {
  width: 34%;
  margin-bottom: 2%;
  box-shadow: 3px 3px 3px black;
  border-radius: 3rem;
}
.registerDiv form {
  width: 80%;
}

#regbutton {
  margin-left: 30%;
  margin-left: 30%;
  width: 25%;
}

#register-btn {
  background-color: #a1aea7;
  border-color: #a1aea7;
  color: bisque;
  padding: 20px 20%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
@media only screen and (min-width: 426px) {
  #registerTitle {
    font-family: "Poppins", sans-serif;
    font-size: 8rem;
    margin-top: 35px;
    margin-left: 15%;
    margin-right: 15%;
    text-shadow: 2px 2px 2px black;
  }
  #slogan {
    font-family: "Poppins", sans-serif;
    font-style: italic;
    margin-bottom: 2.3rem;
  }
  .registerDiv input {
    width: 70%;
    margin-left: 26%;
    margin-bottom: 2%;
    box-shadow: 3px 3px 3px black;
    border-radius: 3rem;
  }

  .registerDiv form {
    width: 80%;
  }

  #regbutton {
    margin-left: 25%;
    width: 25%;
    text-shadow: 2px 2px 2px black;
    box-shadow: 3px 3px 3px black;
  }
  #loginButton {
    width: 20%;

    margin-bottom: 5%;
    text-shadow: 2px 2px 2px black;
    box-shadow: 3px 3px 3px black;
    border-radius: 3rem;
  }
}
